        <table class="ui celled table">
          <thead>
            <tr><th>ID</th>
            <th>出来事名</th>
            <th>時期</th>
            <th>画像</th>
            <th>説明</th>
            <th>時代</th>
            <th>人物名</th>
            <th>管理</th>
          </tr></thead>
          <tbody>
            <% @events.each do |event| %>
             <% if event.id == @event.id && controller.controller_name == "events" %>
            <tr>
             <td class="edit"><%= event.id %></td>
             <td class="edit"><%= link_to"#{event.name}", event, { :target => "_blank"}  %></td>
             <td class="edit"><%= event.season %></td>
             <td class="edit"><%= image_tag(event.url, :size => '50x50') %></td>
             <td class="edit"><%= event.description.truncate(20) %></td>
             <td class="edit"><%= event.era %></td>
             <td class="edit"><%= event.character %></td>
             <td class="edit">
              <%= link_to "編集", edit_event_path(event.id), { :class => "ui olive button" } %>
              <%= link_to "削除", event, { :class => "ui red button", method: :delete, data: { confirm: "本当に削除してもいいですか？" }} %>
             </td>
            </tr>
             <% else %>
                <tr>
                 <td ><%= event.id %></td>
                 <td><%= link_to"#{event.name}", event, { :target => "_blank"}  %></td>
                 <td><%= event.season %></td>
                 <td><%= image_tag(event.url, :size => '50x50') %></td>
                 <td><%= event.description.truncate(20) %></td>
                 <td><%= event.era %></td>
                 <td><%= event.character %></td>
                 <td>
                  <%= link_to "編集", edit_event_path(event.id), { :class => "ui olive button" } %>
                  <%= link_to "削除", event, { :class => "ui red button", method: :delete, data: { confirm: "本当に削除してもいいですか？" }} %>
                 </td>
                </tr>
             <% end %>
            <% end %>
          </tbody>
        </table>