        <table class="ui celled table">
          <thead>
            <tr><th>ID</th>
            <th>時代名</th>
            <th>始まり</th>
            <th>終わり</th>
            <th>説明</th>
            <th>管理</th>
          </tr></thead>
          <tbody>
            <% @eras.each do |era| %>
             <% if era.id == @era.id && controller.controller_name == "eras"%>
            <tr>
             <td class="edit"><%= era.id %></td>
             <td class="edit"><%= link_to"#{era.name}", era, { :target => "_blank"}  %></td>
             <td class="edit"><%= era.start %></td>
             <td class="edit"><%= era.closed %></td>
             <td class="edit"><%= era.description.truncate(20) %></td>
             <td class="edit">
              <%= link_to "編集", edit_era_path(era.id), { :class => "ui olive button" } %>
              <%= link_to "削除", era, { :class => "ui red button", method: :delete, data: { confirm: "本当に削除してもいいですか？" }} %>
             </td>
            </tr>
             <% else %>
                <tr>
                 <td ><%= era.id %></td>
                 <td><%= link_to"#{era.name}", era, { :target => "_blank"}  %></td>
                 <td><%= era.start %></td>
                 <td><%= era.closed %></td>
                 <td><%= era.description.truncate(20) %></td>
                 <td>
                  <%= link_to "編集", edit_era_path(era.id), { :class => "ui olive button" } %>
                  <%= link_to "削除", era, { :class => "ui red button", method: :delete, data: { confirm: "本当に削除してもいいですか？" }} %>
                 </td>
                </tr>
             <% end %>
            <% end %>
          </tbody>
        </table>