<div class="ui grid">
  <div class="ten wide column">
    <div class="ui top attached tabular menu">
      <div class="active item" data-tab="1">時代</div>
      <div class="item" data-tab="2">人物</div>
      <div class="item" data-tab="3">出来事</div>
    </div>
    <div class="ui bottom active attached tab segment" data-tab="1">
      <%= render 'eras/index' %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="2">
      <%= render 'characters/index' %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="3">
      <%= render 'events/index' %>
    </div>
  </div>
  
  
  
  <!--登録Tabs-->
  <div class="six wide column">
    <div class="ui top attached tabular menu">
      <div class="active item" data-tab="first">時代</div>
      <div class="item" data-tab="secound">人物</div>
      <div class="item" data-tab="third">出来事</div>
    </div>
    <div class="ui bottom active attached tab segment" data-tab="first">
      <%= render 'eras/edit' %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="secound">
      <%= render 'characters/new' %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
      <%= render 'events/new' %>
    </div>
  </div>
</div>







<script>
$('.menu .item')
  .tab()
;
</script>