        <table class="ui celled table">
          <thead>
            <tr><th>ID</th>
            <th>人物名</th>
            <th>期間</th>
            <th>画像</th>
            <th>説明</th>
            <th>時代</th>
            <th>出来事</th>
            <th>管理</th>
          </tr></thead>
          <tbody>
            <% @characters.each do |character| %>
             <% if character.id == @character.id && controller.controller_name == "characters" %>
            <tr>
             <td class="edit"><%= character.id %></td>
             <td class="edit"><%= link_to"#{character.name}", character, { :target => "_blank"}  %></td>
             <td class="edit"><%= character.life %></td>
             <td class="edit"><%= image_tag(character.url, :size => '50x50') %></td>
             <td class="edit"><%= character.description.truncate(20) %></td>
             <td class="edit"><%= character.era %></td>
             <td class="edit"><%= character.event %></td>
             <td class="edit">
              <%= link_to "編集", edit_character_path(character.id), { :class => "ui olive button" } %>
              <%= link_to "削除", character, { :class => "ui red button", method: :delete, data: { confirm: "本当に削除してもいいですか？" }} %>
             </td>
            </tr>
             <% else %>
                <tr>
                 <td ><%= character.id %></td>
                 <td><%= link_to"#{character.name}", character, { :target => "_blank"}  %></td>
                 <td><%= character.life %></td>
                 <td><%= image_tag(character.url, :size => '50x50') %></td>
                 <td><%= character.description.truncate(20) %></td>
                 <td><%= character.era %></td>
                 <td><%= character.event %></td>
                 <td>
                  <%= link_to "編集", edit_character_path(character.id), { :class => "ui olive button" } %>
                  <%= link_to "削除", character, { :class => "ui red button", method: :delete, data: { confirm: "本当に削除してもいいですか？" }} %>
                 </td>
                </tr>
             <% end %>
            <% end %>
          </tbody>
        </table>