

<div class="ui grid">
  <div class="sixteen wide column"></div>
  <div class="one wide column"></div>
  <div class="ten wide column">
        <div class="ui segment">
          <h1 class="ui center aligned header"><%= @character.name  %></h1>
          <%= image_tag(@character.url, :class => 'ui fluid image') %>
          <div class="ui olive message">
              <%= @character.life %>
              <%= @character.era %>
              <%= @character.event %>
          </div>
          <%= qiita_markdown(@character.description) %>
        </div>
  </div>
  <div class="five wide column"></div>
</div>