        <table class="ui celled table">
          <thead>
            <tr><th>ID</th>
            <th>名称</th>
            <th>画像</th>
            <th>URL</th>
            <th>説明</th>
            <th>管理</th>
          </tr></thead>
          <tbody>
            <% @cards.each do |card| %>
                <tr>
                 <td ><%= card.id %></td>
                 <td><%= link_to"#{card.name}", card, { :target => "_blank"}  %></td>
                 <td ><%= card.url %></td>
                 <td><%= image_tag(card.image, :size => '50x50') if !card.image.nil? %></td>
                 <td><%= card.description.truncate(20) if !card.description.nil? %></td>
                 <td>
                  <%= link_to "編集", edit_card_path(card.id), { :class => "ui olive button" } %>
                  <%= link_to "削除", card, { :class => "ui red button", method: :delete, data: { confirm: "本当に削除してもいいですか？" }} %>
                 </td>
                </tr>
            <% end %>
          </tbody>
        </table>